/* Generic style */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: white;
}

/* Set background colour for page */
body {
    background-color: #d9dcd6;
}

/* Set font, forground and background colours for the header element */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* H1 specifics within the header */
header h1 {
    display: inline-block;
    font-size: 48px;
}

/* colours the seo letters in Horiseon in the header */
header h1 .seo {
    color: #d9dcd6;
}

/* Styles the navigation elements in the header */
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header nav a {
    list-style-type: none;
    display: inline-block;
    margin-left: 25px;
}

/* link colours */
a {
    color: #ffffff;
    text-decoration: none;
}

/* set paragraph text size */
p {
    font-size: 16px;
}

/* displays full size image under header */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* positions items left or right */
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/* Styling for content section */
.content{
    display: inline-block;
    width: 75%;
    margin-left: 20px;

}
.content-item {
    margin-bottom: 20px;
    background-color: #0072bb;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff;
}

section img{
    max-height: 200px;
}

/* Styling content-item header */
.content-item h2  {
    margin-bottom: 20px;
    font-size: 36px;
}

/* styling for benefit items displayed on RH of screen */
.benefit-block{
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    margin-right: 20px;
    padding: 20px;
    background-color: #2589bd;

}
article{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

article .benefit-lead , article .benefit-brand, article .benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-lead h3 , .benefit-brand h3 , .benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-brand img, .benefit-cost img,  .benefit-lead img  {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Styling for the footer element */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}
